.aws-btn {
    --button-default-height: 60px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 6px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #3095df;
    --button-primary-color-dark: #2a86c9;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #329eed;
    --button-primary-color-active: #329eed;
    --button-primary-border: 2px solid #3095df;
    --button-secondary-color: #070707;
    --button-secondary-color-dark: #caab69;
    --button-secondary-color-light: #ffffff;
    --button-secondary-color-hover: #020202;
    --button-secondary-color-active: #000000;
    --button-secondary-border: 2px solid #caab69;
    --button-anchor-color: #232323;
    --button-anchor-color-dark: #892827;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #161616;
    --button-anchor-color-active: #141414;
    --button-anchor-border: 2px solid #892827;
    --button-danger-color: #141414;
    --button-danger-color-dark: #892827;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #080808;
    --button-danger-color-active: #141414;
    --button-danger-border: 2px solid #892827;
}

.home_background {
    position: relative;
    background-image: linear-gradient(0deg, rgba(48, 149, 223, 0.2), rgba(48, 149, 223, 0.2)), url("assets/inside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about_background {
    position: relative;
    background-image: linear-gradient(0deg, rgba(240, 255, 255, 0.7), rgba(240, 255, 255, 0.7)), url("assets/couch.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact_background {
    position: relative;
    background-image: linear-gradient(0deg, rgba(240, 255, 255, 0.7), rgba(240, 255, 255, 0.7)), url("assets/candle.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}